{% block sidebar %}
    <div class="sidebar glob-sidebar" data-color="azure" data-background-color="white" data-image="{{ asset('build/images/assets/IMG_7703-2.jpg') }}">
        <div class="logo">
            <a href="{{ asset('editor') }}" class="simple-text logo-normal">
                {# {{ title }} #}<h3 class="text-white">Menu</h3>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                {% block prehled %}
                    <div class="button-border">
                        <li class="nav-item  ">
                            <a class="nav-link" href="{{ path('homepage') }}">
                                <i class="fas fa-map-signs"></i>
                                <p>Hlavní strana</p>
                            </a>
                        </li>
                    </div>
                {% endblock %}
                {% block turnaj %}
                    <div class="button-border">
                        <li class="nav-item  ">
                            <a class="nav-link" href="{{ path('beatsaber') }}">
                                <i class="far fa-caret-square-down"></i>
                                <p>Beat Saber</p>
                            </a>
                        </li>
                    </div>
                {% endblock %}
                {% block aboutUs %}
                    <div class="button-border">
                        <li class="nav-item  ">
                            <a class="nav-link" href="{{ path('pavlov') }}">
                                <i class="fas fa-crosshairs"></i>
                                <p>Pavlov VR</p>
                            </a>
                        </li>
                    </div>
                {% endblock %}
                {% block players %}
                    <div class="button-border">
                        <li class="nav-item  ">
                            <a class="nav-link" href="{{ path('users') }}">
                                <i class="fa-solid fa-users-between-lines"></i>
                                <p>Hráči</p>
                            </a>
                        </li>
                    </div>
                {% endblock %}
                {% block galerie %}
                    <div class="button-border">
                        <li class="nav-item  ">
                            <a class="nav-link" href="{{ path('gallery') }}">
                                <i class="fas fa-photo-video"></i>
                                <p>Galerie</p>
                            </a>
                        </li>
                    </div>
                {% endblock %}
                {% block news %}
                    <div class="button-border">
                        <li class="nav-item  ">
                            <a class="nav-link" href="{{ path('news') }}">
                                <i class="fas fa-book-open"></i>
                                <p>Články</p>
                            </a>
                        </li>
                    </div>
                {% endblock %}
                {% block contact %}
                    <div class="button-border">
                        <li class="nav-item  ">
                            <a class="nav-link" href="{{ path('contact') }}">
                                <i class="fas fa-headset"></i>
                                <p>Kontakt</p>
                            </a>
                        </li>
                    </div>
                {% endblock %}
                <hr>
                {% if app.user %}
                    {% block account %}
                        <div class="button-border">
                            <li class="nav-item  ">
                                <a class="nav-link" href="{{ path('account') }}">
                                    <i class="fas fa-id-card"></i>
                                    <p>Účet</p>
                                </a>
                            </li>
                        </div>
                    {% endblock %}
                    {% block logout %}
                        <div class="button-border">
                            <li class="nav-item  ">
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    <i class="fas fa-door-open"></i>
                                    <p>Odhlásit se</p>
                                </a>
                            </li>
                        </div>
                    {% endblock %}
                    <hr>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% block editor %}
                            <div class="button-border">
                                <li class="nav-item  ">
                                    <a class="nav-link" href="{{ path('editor') }}">
                                        <i class="fas fa-wrench"></i>
                                        <p>Editor</p>
                                    </a>
                                </li>
                            </div>
                        {% endblock %}
                    {% endif %}
                {% else %}
                    {% block login %}
                        <div class="button-border">
                            <li class="nav-item  ">
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    <i class="far fa-address-card"></i>
                                    <p>Přihlášení</p>
                                </a>
                            </li>
                        </div>
                    {% endblock %}
                    {% block register %}
                        <div class="button-border">
                            <li class="nav-item  ">
                                <a class="nav-link" href="{{ path('app_register') }}">
                                    <i class="far fa-newspaper"></i>
                                    <p>Registrace</p>
                                </a>
                            </li>
                        </div>
                    {% endblock %}
                {% endif %}
            </ul>
            <div class="sidebar-logo">
                <img src="{{ asset('build/images/logos/full-wide-logo.png') }}" alt="Logo Czech Saber">
            </div>
        </div>
    </div>
{% endblock %}